body {
    width: 100vw;
    opacity: 1 !important;
    transition: opacity 3s 1s;
}

.bw-border {
    border-color: ?bw?;
}

.bw-on-bw-border {
    border-color: ?bwOnBw?;
}

.bw-text {
    color: ?bw? !important;
}

.bw-on-bw-text {
    color: ?bwOnBwText? !important;
}

.bw {
    background-color: ?bw?;
}

.bw-on-bw {
    background-color: ?bwOnBw?;
}

.bw30 {
    background-color: ?bw.3?;
}

.bw-on-bw30, .waves-ripple {
    background-color: ?bwOnBw.3? !important;
}

.bw10 {
    background-color: ?bw.1?;
}

.bw-on-bw10, .hover-bg:hover {
    background-color: ?bwOnBw.1? !important;
}

.spinner-layer {
    border-color: ?rgb?;
}
.toast {
    justify-content: left;
}

.fav-bg {
    background: ?rgb? !important;
}

.fav-text {
    color: ?rgb? !important;
}

.nav-logo #logo-outer {
    fill: ?rgb.6?;
    transition: .1s ease-out;
}
.nav-logo #logo-inner {
    fill: ?rgb?;
    transition: .1s ease-out;
}
.nav-logo:active #logo-inner {
    fill: ?rgb.6?;
}
.nav-logo:active #logo-outer {
    fill: ?rgb?;
}
.no-comments-dog #dog {
    fill: ?rgb?;
}

nav .random-words, nav a, nav a i {
    color: ?rgb? !important;
}

.btn {
    background-color: ?rgb? !important;
    border-radius: 100px;
}

.btn-flat {
    background-color: transparent !important;
    color: ?rgb? !important;
}

.btn-flat:hover {
    background-color: rgba(?r?, ?g?, ?b?, .2) !important;
}

.input-field .prefix.active {
    color: ?rgb? !important;
}

input:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid ?rgb? !important;
    box-shadow: 0 1px 0 0 ?rgb? !important;
}

input.white-input:focus:not([readonly]), 
textarea.white-input.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: ?rgb?;
}
.switch label input[type=checkbox]:checked + .lever {
    background-color: rgba(?r?, ?g?, ?b?, .5);
}

.input-field label.active {
    color: ?rgb? !important;
}

/* BACKGROUND */

body {
    background: ?rgb?;
    transition: background ease-in-out .15s;
    overflow-x: hidden !important;
}
/* END BACKGROUND */


a {
    cursor: pointer;
}

.collection a.collection-item {
    color: ?rgb? !important;
}

.collection a.collection-item.active {
    color: white !important;
    background-color: ?rgb? !important;
}

.collection a.collection-item i {
    vertical-align: bottom;
}

.collection .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -10px;
    transition: transform .2s ease-in-out;
    transform: rotate(0deg);
}

.collection a:hover .profile-pic {
    transform: rotate(-10deg);
}
