@import "../../../styles.scss";

.row {
    margin: 0;
}

.header-card {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    app-tabs {

        display: block;

        $tabs-height: 58px;
        $margin-top: 5px;
        height: $tabs-height + $margin-top;
        
        ::ng-deep .tab {
            margin-top: $margin-top;
            height: $tabs-height;
            width: 25%;
        }

    }

    .banner {
        position: relative;
        background: linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, .4)), 
                    url(/assets/img/tiled_header.png) transparent;
        background-size: contain;
        background-position: center !important;
        margin: 0 -.75rem;

        @media only screen and (max-width: $break-med) {
            padding-top: 40% !important;
        }

        $half-ppic-size: 90px;

        app-profile-pic {
            position: absolute;
            bottom: -$half-ppic-size;
            left: .75rem;
        }

        margin-bottom: $half-ppic-size + 10px;

        @media only screen and (max-width: $break-small) {
            app-profile-pic {
                left: calc(50% - #{$half-ppic-size});
            }
        }

        app-username {

            position: absolute;
            bottom: 0;
            left: $half-ppic-size * 2 + 30px;
            word-break: break-all;

        }

    }

    .buttons {

        button {
            margin: .75rem;
        }

        position: absolute;
        margin-top: -90px;
        margin-left: 190px;

        @media only screen and (max-width: $break-small) {
            text-align: center;
            position: relative;
            margin: 0;
        }

    }

}