<div class="row">

    <div class="col s12 m10 l8 offset-m1 offset-l2 card bw header-card no-border-radius-on-small">

        <div class="banner" [style.backgroundColor]="user.rgbString"
            [style.paddingTop]="user.header ? '40%' : '20%'" [ngStyle]="bannerStyle">

            <app-profile-pic [user]="user" playSoundFragOnHover="true" dim="med"
                size="180px" borderWidth="4px" cursor="zoom-in" (onProfilePicClick)="null">
            </app-profile-pic>

        </div>

        <div class="center hide-on-med-and-up">
            <app-username [user]="user" fontSize="20px"></app-username>
        </div>

        <app-tabs [tabs]="tabs" [wavesEffect]="false"></app-tabs>

    </div>
</div>

<router-outlet></router-outlet>