@import "../../../styles.scss";

.scroll {
    overflow-x: hidden;
    height: 60vh;
    overflow-y: auto;

    @media only screen and (max-width: $break-small) {

        height: calc(100% - 56px);
    }
}

.waves-effect {
    display: block;
}

.noNotifications {

    h4 {

        font-weight: 300;
        font-size: 18px;
        opacity: 0.9;
    }
        
    .no-notifications-img {
        text-align: center;
        height: 200px;
        padding: 10px;
        
        ::ng-deep svg {
            transform-origin: 55% 12%;

            animation: no-notifications-anim 1s;

            @keyframes no-notifications-anim {
                from {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(20deg);
                }
                40% {
                    transform: rotate(-20deg);
                }
                60% {
                    transform: rotate(15deg);
                }
                80% {
                    transform: rotate(-8deg);
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.notification {
    .inner {
        $padding: 12px;

        padding: $padding;
        padding-left: $padding + 48px + $padding;
        position: relative;

        app-profile-pic {
            margin-right: 4px;
            margin-bottom: 8px;
        }

        .more-pfs-dots {
            vertical-align: middle;
            opacity: .5;
            user-select: none;
        }

        i.notification-icon {
            position: absolute;
            top: $padding;
            left: $padding + 24px;
            user-select: none;
        }

        a {
            font-weight: bold;
        }

        .time {
            margin: 5px 0;
            opacity: .5;
            display: inline;
            white-space: nowrap;
        }

        .item {
            padding: 6px;
            border-radius: 8px;

            transition: .1s;
            cursor: pointer;

            .item-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                display: inline-block;
            }

            &.with-thumbnail {
                .thumbnail {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 60px;
                    background-position: center;
                    background-size: cover;
                }
                padding-left: 68px !important;
            }
        }
    }
    
}