i {
    vertical-align: text-bottom;
}

.apple-icon {
    height: 24px;
    vertical-align: text-bottom;
}

.username-badge {

    color: white;
    font-size: 13px !important;
    border-radius: 100px; 
    padding: 3px 10px;
    vertical-align: text-bottom; 
    margin: 0 4px; 
    white-space: pre;

    .class {
        font-family: 'Times New Roman';
    }

}