@import "../../../styles.scss";

.search {

    input {
        
        width: calc(100% - 200px);
        margin-bottom: 8px !important;

        @media only screen and (max-width: $break-small) {
            width: calc(100% - 40px);
        }
    }

    .chip {
        user-select: none;
        .close-btn {
            line-height: 32px;
            font-size: 18px;
            cursor: pointer;
            padding: 0 10px;
            margin-right: -10px;
            float: right;
        }
    }

}

.masonry.filter-list {
    column-count: 2;

    @media only screen and (max-width: $break-small) {
        column-count: 1;
    }

    .filter {
        padding: .75rem;
        display: inline-block;
        width: 100%;
    }

}

.no-results {

    h5 {
        font-size: 21px;
        font-weight: 300;
        margin: 30px;
    }

    .sad-img {
        margin-bottom: -6px;
    }
}

app-circular-preloader {

    display: block;
    margin: 16px;

    ::ng-deep .spinner-layer {
        border-color: white !important;
    }
}