@import "../../../styles.scss";

.search {

    input {
        
        width: calc(100% - 200px);
        margin-bottom: 8px !important;

        @media only screen and (max-width: $break-small) {
            width: calc(100% - 40px);
        }
    }

}

.no-results {

    h5 {
        font-size: 21px;
        font-weight: 300;
        margin: 30px;
    }

    .sad-img {
        margin-bottom: -6px;
    }
}

app-circular-preloader {

    display: block;
    margin: 16px;

    ::ng-deep .spinner-layer {
        border-color: white !important;
    }
}