@import "../../../styles.scss";

.search {

    input {
        
        width: calc(100% - 200px);
        margin-bottom: 8px !important;

        @media only screen and (max-width: $break-small) {
            width: calc(100% - 40px);
        }
    }

}

.load-more {
    height: 500px;
    margin-top: -500px;
    pointer-events: none;
}

app-circular-preloader {

    display: block;
    margin: 16px;

    ::ng-deep .spinner-layer {
        border-color: white !important;
    }
}