:host {
    text-align: center;
}

.tab {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    transition: none;
    padding: 0 12px;
    outline: none;
    font-size: 14px !important;

    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;

    .indicator {
        position: absolute;
        bottom: 0;
        transition: .1s ease-in-out;
        height: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    .bold {
        font-weight: bold;
    }

    .number {
        line-height: 28px;
        font-size: 22px;
        font-weight: bold;
    }

    .title, .number, i {
        opacity: .7;
        transition: none !important;
    }

}

.tab.active {

    .indicator {
        height: 3px;
        left: 0 !important;
        right: 0 !important;
    }

    .title, .number, i {
        opacity: 1;
    }

}

@media (any-hover: hover) {
    .tab:hover {

        .indicator {
            height: 3px;
            left: 10px;
            right: 10px;
        }
    }
}

i {
    line-height: 0 !important;
    vertical-align: middle;
    display: inline !important;
}