.profile-pic {
    background-size: cover;
    background-position: center;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
}

:host {
    display: inline-block;
}

.profile-pic-container {
    position: relative;
    user-select: none;

    .sound-icon {
        position: absolute;
        opacity: .6;
        font-size: 21px;
        padding: 4px;
        bottom: 0;
        right: 0;
        border-radius: 100%;
        transition: .2s;
    }

    &:hover {
        .sound-icon {
            opacity: 1;
            background: rgba(128, 128, 128, .2);
        }
    }
}