<div class="carousel black">

    <div class="carousel-nav-btn previous" (click)="prevFeaturedPost(); stopCarouselInterval(); startCarouselIntervalAfterTimeout()">
        <i class="material-icons">
            arrow_back_ios
        </i>
    </div>

    <div class="carousel-nav-btn forward" (click)="nextFeaturedPost(); stopCarouselInterval(); startCarouselIntervalAfterTimeout()">
        <i class="material-icons">
            arrow_forward_ios
        </i>
    </div>

    <div *ngIf="postsLoaded" class="post" [ngClass]="{'show': showCarouselPost}">

        <div class="blurred-background" [style.backgroundImage]="'url(' + service.getThumbnailPath(featuredPost) + ')'"></div>

        <div class="indicator bw fav-text z-depth-2">
            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.numberPrefix}}
            <b>#{{featuredPostI + 1}}</b>
        </div>
        <br>

        <a [postLink]="featuredPost">

            <div class="thumbnail z-depth-2" [style.backgroundImage]="'url(' + service.getThumbnailPath(featuredPost) + ')'">
            </div>
            <br>
            <div class="text">
                <h2>{{featuredPost.title}}</h2>
                <p [innerHTML]="shortFeaturedPostDescription | escape | emoticons"></p>
            </div>
        </a>
    </div>
</div>

<div class="row">

    <div class="col l3 tab-links-on-large hide-on-med-and-down">
        <a class="fav-text fav-bg" *ngFor="let tab of tabs" routerLinkActive="active"
            [routerLink]="tab.routerLink">

            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.title}}
        </a>
    </div>

    <div class="col s12 m10 l7 offset-m1 no-padding">

        <p class="white-text hide-on-large-only tab-title">
            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.title.toUpperCase()}}
        </p>

        <div class="col s12 m6 post-col" *ngFor="let post of tab.posts">
            <app-post-card [post]="post"></app-post-card>
        </div>

        <button class="btn btn-flat waves-effect show-more-btn" *ngIf="postsLoaded">
            <i class="material-icons right">arrow_forward</i>
            Alles weergeven
        </button>

    </div>

</div>

<br>
<br>
<br>

<div class="bottom-tabs bw hide-on-large-only">

    <app-tabs [tabs]="tabs" [replaceUrl]="true" [hideLabelOnMed]="true"></app-tabs>

</div>

<div class="upload-btn white z-depth-3 waves-effect">
    <i class="material-icons fav-text">
        file_upload
    </i>
</div>