<div class="carousel black">

    <div class="carousel-nav-btn previous" (click)="prevFeaturedPost(); stopCarouselInterval(); startCarouselIntervalAfterTimeout()">
        <i class="material-icons">
            arrow_back_ios
        </i>
    </div>

    <div class="carousel-nav-btn forward" (click)="nextFeaturedPost(); stopCarouselInterval(); startCarouselIntervalAfterTimeout()">
        <i class="material-icons">
            arrow_forward_ios
        </i>
    </div>

    <div *ngIf="postsLoaded" class="post" [ngClass]="{'show': showCarouselPost}">

        <div class="blurred-background" [style.backgroundImage]="'url(' + service.getThumbnailPath(featuredPost) + ')'"></div>

        <div class="indicator bw fav-text z-depth-2">
            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.numberPrefix}}
            <b>#{{featuredPostI + 1}}</b>
        </div>
        <br>

        <a [postLink]="featuredPost">

            <div class="thumbnail z-depth-2" [style.backgroundImage]="'url(' + service.getThumbnailPath(featuredPost) + ')'">
            </div>
            <br>
            <div class="text">
                <h2>{{featuredPost.title}}</h2>
                <p [innerHTML]="shortFeaturedPostDescription | escape | emoticons"></p>
            </div>
        </a>
    </div>
</div>

<div class="row">

    <div class="col l3 tab-links-on-large hide-on-med-and-down">
        <a class="fav-text fav-bg" *ngFor="let tab of tabs" routerLinkActive="active"
            [routerLink]="tab.routerLink">

            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.title}}
        </a>
    </div>

    <div class="col s12 m10 l7 offset-m1 no-padding">

        <p class="white-text hide-on-large-only tab-title">
            <i class="material-icons">
                {{tab.icon}}
            </i>
            {{tab.title.toUpperCase()}}
        </p>

        <div class="col s12 m6 post-col" *ngFor="let post of tab.posts">
            <app-post-card [post]="post"></app-post-card>
        </div>

    </div>

</div>

<br>
<br>
<br>

<div class="bottom-tabs bw hide-on-large-only" *ngIf="postsLoaded">

    <app-tabs [tabs]="tabs" [replaceUrl]="true" [hideLabelOnMed]="true"></app-tabs>

</div>

<div class="upload-btn white z-depth-3 waves-effect" (click)="modals.showModal('new-post')" *ngIf="postsLoaded">
    <i class="material-icons fav-text">
        file_upload
    </i>
</div>

<app-modal name="new-post" type="bottom" hash="niwe-uplood">

    <ul class="collection row new-post-ul">
        <li class="collection-item avatar waves-effect bw-on-bw10" (click)="vidInput.click()">
    
            <i class="material-icons circle indigo accent-4">movie</i>
            <span class="title">Vido</span>
            <p>Uplood een vermakelijk filmpje</p>

            <input #vidInput accept="video/*" hidden type="file" (change)="service.newVideoPost($event.target.files[0])">   

        </li>

        <li class="collection-item avatar waves-effect bw-on-bw10" (click)="imgInput.click()">
    
            <i class="material-icons circle green accent-3">image</i>
            <span class="title">Platje</span>
            <p>Uplood een wonderbaarlijk plaatje</p>

            <input #imgInput accept="image/*" hidden type="file" (change)="service.newImgPost($event.target.files[0])">   

        </li>

        <li class="collection-item avatar waves-effect bw-on-bw10" (click)="gifInput.click()">
    
            <i class="material-icons circle deep-orange accent-3" [style.fontSize]="'26px'">gif</i>
            <span class="title">Gif</span>
            <p>Gifjes zijn zo leuk</p>

            <input #gifInput accept="image/gif" hidden type="file" (change)="service.newImgPost($event.target.files[0])">   

        </li>

    </ul>

</app-modal>