@import "../../../styles.scss";

.carousel {

    $carousel-height: 380px;

    height: $carousel-height;
    position: relative;
    text-align: center;
    user-select: none;

    .carousel-nav-btn {

        $nav-btn-size: 48px;
        position: absolute;
        top: $carousel-height * .5 - $nav-btn-size * .5;
        width: $nav-btn-size;
        height: $nav-btn-size;
        color: white;
        text-align: center;
        line-height: 64px;
        cursor: pointer;

        &.previous {
            left: 8px;
        }

        &.forward {
            right: 8px;
        }
    }

    .indicator {
        padding: 6px 16px;
        margin: 16px;
        display: inline-block;
        border-radius: 100px;

        i {
            vertical-align: bottom;
            margin-right: 8px;
        }
    }

    .post {

        opacity: 0;
        transition: .4s;

        &.show {
            opacity: 1;

            .blurred-background {
                transform: scale(1);
                z-index: -100;
                opacity: .5;
            }
        }
        
        .blurred-background {
            transform: scale(1.7);
            transition: 1s transform;
            opacity: .2;
            filter: blur(10px);
            height: calc(100% + 20px);
            width: calc(100% + 20px);
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: -100;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        .thumbnail {
            display: inline-block;
            width: 250px;
            height: 150px;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        .text {
            color: white;
            display: inline-block;
            max-width: 85%;
            
            h2 {
                text-shadow: 0px 0px 2px rgba(0, 0, 0, .5), 0px 1px 2px rgba(0, 0, 0, .5);
                margin: 6px;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
            }
            
        }
    }
    
}

.bottom-tabs {

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.3);

    $bottom-tabs-height: 52px;
    height: $bottom-tabs-height;

    ::ng-deep {
        .tab {
            height: $bottom-tabs-height;
            line-height: $bottom-tabs-height;
            width: 20%;
        }
    }

}

@media only screen and (max-width: $break-small) {

    .post-col {
        padding: 0;
    }

}

.tab-title {
    margin: 0;
    padding: 12px 16px;
    i {
        vertical-align: bottom;
        margin-right: 16px;
    }
}

.tab-links-on-large {

    padding: .75rem .75rem 0 0;

    a {
        display: block;
        padding: 8px;
        text-transform: uppercase;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        padding-left: 48px;
        transition: .2s;
        margin-right: 16px;

        i {
            vertical-align: bottom;
            margin-right: 8px;
        }

        &:not(.active) {
            color: white !important;
        }

        &.active {
            background: white !important;
            margin-right: 0;
        }
    }

}

.show-more-btn {
    color: white !important;
    margin-left: .75rem;
    i {
        color: white;
    }
}

.upload-btn {
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;

    z-index: 100;

    position: fixed;
    bottom: 24px;
    right: 16px;
    border-radius: 100px;

    @media only screen and (max-width: $break-med) {
        bottom: 64px;
        right: 8px;
    }

    i {
        vertical-align: middle;
    }
}