<div id="change-profile-modal" class="modal bottom-sheet">
    <div class="modal-content">

        <ul class="collection">
            <li class="collection-item avatar waves-effect" onclick="$('#pp-input').click()">
                <i class="material-icons circle indigo">portrait</i>
                <span class="title">Profilfoto</span>
                <p>Uplood een profielfoto.</p>
            </li>
            <li class="collection-item avatar waves-effect" onclick="$('#banner-input').click()">
                <i class="material-icons circle" style="
                    background-position: left;
                    background-image: url(/static_content/img/palette.png);
                ">panorama</i>
                <span class="title">Banner</span>
                <p>Uplood een banner voor boven je profiel.</p>
            </li>
            <li class="collection-item avatar waves-effect" onclick="navigate('/lieflingskleur')">
                <i class="material-icons circle" style="
                    background-image: url(/static_content/img/palette.png);
                ">color_lens</i>
                        <span class="title">Lieflingskleur</span>
                        <p>Kies jou persoonlyke kleur</p>
                    </li>
            <li class="collection-item avatar waves-effect" onclick="navigate('/status')">
                <i class="material-icons circle deep-orange">edit</i>
                <span class="title">Status</span>
                <p>Vertel iets ovr jezelf.</p>
            </li>
        </ul>

    </div>
</div>

<input id="pp-input" onchange="ppChosen()" type="file" accept="image/*" hidden>
<input id="banner-input" onchange="bannerChosen()" type="file" accept="image/*" hidden>