<div id="filtered-search" class="row">

    <form class="col s12 m10 l8 offset-m1 offset-l2 card">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input placeholder="Soeken" name="q" type="text" id="search-input">
        </div>
        <ul class="collapsible noselect">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_list</i>FILTERS
                </div>
                <div class="collapsible-body row"></div>
            </li>
        </ul>
    </form>

    <div class="col s12 m10 l8 offset-m1 offset-l2" id="search-results">
    </div>

</div>