<div id="filtered-search" class="row">

    <form onsubmit="document.activeElement.blur(); return false" class="col s12 m10 l8 offset-m1 offset-l2 card">
        <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input name="q" type="text" id="search-input">
        </div>
        <ul class="collapsible noselect">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">filter_list</i>FILTERS
                </div>
                <div class="collapsible-body row"></div>
            </li>
        </ul>
        <div id="on-no-results"></div>
    </form>

    <div class="col s12 m10 l8 offset-m1 offset-l2" id="search-results">
    </div>
    <center id="search-loader" class="col s12">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p class="white-text">laden</p><br><br><br>
    </center>

</div>