<div class="navbar-fixed">
    <nav class="nav-extended z-depth-0">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li>
                    <a href="/hoom" onclick="return navigate('hoom')">
                        <i class="material-icons" style="float: left">menu</i>
                        <img class="navbar-profile-pic">
                        <span style="display: inline" class="hide-on-med-and-down">KAASFLIP</span>
                    </a>
                </li>
            </ul>
            <a href="/" class="brand-logo center">
                <img src="/static_content/img/logo_full.svg">
            </a>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent" id="nav-tabs">
                <li class="tab">
                    <a class="active waves-effect waves-light" href="/hoom" onclick="return navigate('hoom')">
                        <i class="material-icons">home</i>
                        <span class="hide-on-med-and-down">hoom</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="waves-effect waves-light" href="/amusement" onclick="return navigate('amusement')">
                        <i class="material-icons">subscriptions</i>
                        <span class="hide-on-med-and-down">amusement</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="waves-effect waves-light" href="/tjets" onclick="return navigate('tjets')">
                        <i class="material-icons">chat_bubble</i>
                        <span class="hide-on-med-and-down">tjets</span>
                    </a>
                </li>
                <li class="tab">
                    <a class="waves-effect waves-light" href="/tjillers" onclick="return navigate('tjillers')">
                        <i class="material-icons">group</i>
                        <span class="hide-on-med-and-down">mesnen & vriends</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="side-nav" id="slide-out" style="transform: translateX(-100%);">

</ul>