<div>
    <div class="navbar-fixed">
        <nav class="nav-extended z-depth-0">
            <div class="nav-wrapper">
                <a data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons" style="float: left">menu</i>
                    <img class="navbar-profile-pic">
                    <span style="display: inline; vertical-align: middle; font-size: 18px" class="hide-on-med-and-down" id="username"></span>
                </a>
                <a href="/" onclick="return navigate('/')" class="brand-logo center">
                    <img src="/static_content/img/logo_full.svg">
                </a>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent" id="nav-tabs">
                    <li class="tab">
                        <a class="active waves-effect waves-light" href="/hoom" onclick="return tab('/hoom')">
                            <i class="material-icons">home</i>
                            <span class="hide-on-med-and-down">hoom</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-light" href="/amusement" onclick="return tab('/amusement')">
                            <i class="material-icons">subscriptions</i>
                            <span class="hide-on-med-and-down">amusement</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-light" href="/tjets" onclick="return tab('/tjets')">
                            <i class="material-icons">chat_bubble</i>
                            <span class="hide-on-med-and-down">tjets</span>
                        </a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-light" href="/tjillers" onclick="return tab('/tjillers')">
                            <i class="material-icons">group</i>
                            <span class="hide-on-med-and-down">mesnen & vriends</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="sidenav-background"></div>
            <center>
                <a class="sidenav-close">
                    <img class="circle sidenav-profile-pic">
                    <h5 class="sidenav-username black-text"></h5>
                </a>
                <p id="sidenav-status" style="line-height: 1.5"></p>
                <div class="divider"></div>
                <div class="row sidenav-stats">
                    <br>
                    <a id="sidenav-chat-stat" class="col s4 sidenav-close" href="/alle-tjet-berichten" onclick="return navigate('/alle-tjet-berichten')">
                        <i class="material-icons">chat_bubble</i>
                        <b>10</b>
                        <span>tjetberigten</span>
                    </a>
                    <a id="sidenav-upload-stat" class="col s4 sidenav-close">
                        <i class="material-icons">subscriptions</i>
                        <b>5</b>
                        <span>uploods</span>
                    </a>
                    <a id="sidenav-friends-stat" class="col s4 sidenav-close">
                        <i class="material-icons">group</i>
                        <b>55</b>
                        <br>
                        <span>friends</span>
                    </a>
                </div>
            </center>
        </li>
        <li class="divider"></li>
        <li>
            <a class="waves-effect sidenav-close">
                <i class="material-icons">person</i>Myn profiel
            </a>
        </li>
        <li>
            <a class="waves-effect sidenav-close">
                <i class="material-icons">portrait</i>Profilfooto wijzigen
            </a>
        </li>
        <li>
            <a class="waves-effect sidenav-close">
                <i class="material-icons">edit</i>Status wijzigen
            </a>
        </li>
        <li>
            <a class="waves-effect sidenav-close">
                <i class="material-icons">settings</i>Instelingun
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="waves-effect sidenav-close" onclick="{
                window.userSession = null;
                Cookies.remove('last_user');
                onPathChanged();
            }">
                <i class="material-icons">swap_horiz</i>Ander account
            </a>
        </li>
    </ul>
</div>