<div class="profile-card col s12" style="padding: 0 .2rem">

    <div class="card">
        <div class="profile-card-header"></div>
        <a id="profile-card-profile-link" style="color: black !important">
            <img class="profile-card-profile-pic circle">
            <div class="profile-card-info">
                <h6 class="profile-card-username">naam</h6>
                <p class="profile-card-status">status</p>
            </div>
        </a>

        <btn data-subject="friends" data-on-notify="updateFriendButton" class="btn waves-effect waves-light"></btn>

        <a id="profile-card-chat-btn" class="btn-floating btn-flat waves-effect">
            <i class="material-icons">chat_bubble</i>
        </a>
    </div>

</div>