<app-modal hash="vriend-toevoege" name="addFriendToChat">

    <div class="wrapper">

        <app-toolbar>

            <button *ngIf="selectedFriends.length > 0" (click)="addAndClose()"
                class="btn waves-effect btn-flat not-default not-fav-bg transparent white-text">
                <i class="material-icons left">done</i>
                {{selectedFriends.length}} toevoege
            </button>

        </app-toolbar>

        <div class="scroll">
            <p *ngIf="!canLoadMore && friends.length == 0">Al
                je vriends zijn al lid van dees groeep.</p>

            <app-user-list [users]="friends"
                [canLoadMoreUsers]="canLoadMore"
                (loadMoreUsers)="loadMore()"
                [selectedUsers]="selectedFriends"></app-user-list>
        </div>

    </div>

</app-modal>