<div *ngIf="stillUrl && url && dimensions" [ngClass]="fullHeight ? 'full-height' : 'full-width'"
    class="gif-container fav-bg" [ngStyle]="containerStyle" inViewport
    (ifInViewport)="onInViewport()" (ifNotInViewport)="onNotInViewport()"
    [style.cursor]="!autoPlay ? 'pointer' : ''" (click)="playing = autoPlay ? playing : !playing">

    <img *ngIf="(!playing || !loaded) && !(preload && mobile)" [src]="stillUrl"
        [style.opacity]="playing && !loaded && !preload ? .3 : 1">

    <img *ngIf="playing || preload" [src]="url" (load)="loaded=true"
        [style.display]="loaded && playing ? 'block' : 'none'">

    <div *ngIf="!playing && !autoPlay" class="gif-button">
        <i class="material-icons">gif</i>
    </div>

</div>