<div class="center-align white-text">

    <app-full-logo></app-full-logo>
    <h3>404</h3>
    <h6>Er is hier geen kut te zien</h6>

    <br>
    <br>

    <a class="btn waves-effect waves-light">
        <i class="material-icons left">search</i>
        zoeken naar dingen
    </a>

    <br>
    <br>

    <a class="btn waves-effect waves-light" routerLink="/hoom">
        <i class="material-icons left">home</i>
        Hoompagina
    </a>

    <p class="credits">
        Credits voor het gifje:
        <a href="https://giphy.com/gifs/universe-spiral-galaxy-star-cluster-vortex-konczakowski-3og0IFrHkIglEOg8Ba"
            target="_blank">
            <b>het heelal en nasa ofzo</b>
        </a>
    </p>

</div>