<div class="wrapper bw-on-bw10 bw-on-bw-text">

    <div class="title-bar valign-wrapper hide-on-med-and-down">

        <i class="material-icons">
            info_outline
        </i>

        {{conv.isGroup ? 'Groep informati' : 'Tjet
        informati'}}
    </div>

    <div class="center bw z-depth-1 pic-and-text">
        <app-profile-pic *ngIf="conv.otherUser" [user]="conv.otherUser"
            dim="large" size="140px"></app-profile-pic>

        <app-group-pic *ngIf="conv.isGroup" [conv]="conv"
            dim="large" size="140px"></app-group-pic>

        <!-- group title with emoticons -->
        <h6 *ngIf="conv.isGroup" [innerHTML]="conv.groupTitle | escape | emoticons"></h6>

        <app-username *ngIf="!conv.isGroup" [user]="conv.otherUser"></app-username>

        <p class="pre-wrap" [innerHTML]="
            (conv.isGroup ? conv.groupDescription : conv.otherUser.bio)
            | escape | emoticons | links
        "></p>

    </div>

    <a *ngIf="conv.otherUser" class="bw z-depth-1 waves-effect fav-text action"
        [profileLink]="conv.otherUser">
        <i class="material-icons">
            person
        </i>
        Profil bekijken
    </a>

    <div class="bw z-depth-1 fav-text action" (click)="service.setMuted(conv, !conv.muted)"
        *ngIf="!conv.leftTimestamp">
        <i class="material-icons">
            {{conv.muted ? 'notifications_off' :
            'notifications'}}
        </i>
        Meldingen

        <div class="switch">
            <label>
                <input type="checkbox" [checked]="!conv.muted">
                <span class="lever"></span>
            </label>
        </div>
    </div>

    <div class="bw z-depth-1 waves-effect fav-text action">
        <i class="material-icons">
            attach_file
        </i>
        Media & bestanden
    </div>

    <div *ngIf="conv.members && !conv.leftTimestamp">

        <div class="member-list-title">online</div>

        <ul class="member-list online">
            <div *ngFor="let member of online">

                <li>
                    <div class="ppic">
                        <a [routerLink]="'/tjiller/' + member.id">
                            <app-profile-pic [user]="member"
                                cursor="pointer" size="40px"
                                dim="small"></app-profile-pic>
                        </a>
                    </div>

                    <a class="username bw-on-bw-text"
                        [routerLink]="'/tjiller/' + member.id">

                        <img *ngIf="isChatAdmin(member.id)"
                            class="crown" src="/assets/img/crown.svg"
                            title="Groep beheerder">
                        {{member.username}}
                    </a>

                    <div class="more" *ngIf="chatAdmin && member.id != auth.session.user.id">
                        <button class="btn btn-flat btn-floating waves-effect"
                            (click)="editMember = editMember == member ? null : member">
                            <i class="material-icons bw-on-bw-text">
                                more_vert
                            </i>
                        </button>
                    </div>

                </li>

                <div *ngIf="editMember == member">
                    <ng-container *ngTemplateOutlet="editMemberTemplate"></ng-container>
                </div>
            </div>
        </ul>

        <div class="member-list-title">offline</div>

        <ul class="member-list offline">
            <div *ngFor="let member of offline; let i = index">

                <li *ngIf="i == 10" class="waves-effect"
                    (click)="showAllMembers = !showAllMembers">
                    <div class="member-list-title">
                        <i class="material-icons">
                            {{showAllMembers ?
                            'keyboard_arrow_up' :
                            'keyboard_arrow_down'}}
                        </i>
                        {{showAllMembers ? 'minder
                        weergeve' : 'iedereen weergeve'}}
                    </div>
                </li>

                <li *ngIf="i < 10 || showAllMembers">

                    <div class="ppic">
                        <a [routerLink]="'/tjiller/' + member.id">
                            <app-profile-pic [user]="member"
                                cursor="pointer" size="40px"
                                dim="small"></app-profile-pic>
                        </a>
                    </div>

                    <a class="username-and-last-seen bw-on-bw-text"
                        [routerLink]="'/tjiller/' + member.id">
                        <div>
                            <img *ngIf="isChatAdmin(member.id)"
                                class="crown" src="/assets/img/crown.svg"
                                title="Groep behirder">
                            {{member.username}}
                        </div>
                        <div class="last-seen" *ngIf="member.lastActivity">
                            {{member.lastActivity |
                            timestamp}}
                        </div>
                    </a>

                    <div class="more" *ngIf="chatAdmin && member.id != auth.session.user.id">
                        <button class="btn btn-flat btn-floating waves-effect"
                            (click)="editMember = editMember == member ? null : member">
                            <i class="material-icons bw-on-bw-text">
                                more_vert
                            </i>
                        </button>
                    </div>

                </li>

                <div *ngIf="editMember == member">
                    <ng-container *ngTemplateOutlet="editMemberTemplate"></ng-container>
                </div>

            </div>
        </ul>

    </div>

    <div class="bw z-depth-1 waves-effect red-text action" *ngIf="conv.isGroup && !conv.leftTimestamp" (click)="leaveGroup()">
        <i class="material-icons">
            exit_to_app
        </i>
        Groep verlaten
    </div>

</div>

<ng-template #editMemberTemplate>

    <div class="bw z-depth-1 waves-effect fav-text action"
        (click)="service.setAdmin(editMember.id, conv.chatId, !isChatAdmin(editMember.id)); editMember = null">

        {{isChatAdmin(editMember.id) ? 'Behirderschap
        ontnemen' : 'Behirder maken'}}

    </div>

    <div class="bw z-depth-1 waves-effect red-text action"
        (click)="removeMember(editMember.id)">
        Uit groep verwydren
    </div>

    <div class="bw z-depth-1 waves-effect action" (click)="editMember = null">
        Annuleren
    </div>

</ng-template>