<div class="row">

  <div class="col s10 m6 l4 offset-l4 offset-m3 offset-s1 card">
    <div class="row">

      <div class="col s12 l10 offset-l1">
        <br>
        <div class="center-align">
          <div class="ppic-parent circle">
            <div class="ppic circle"></div>
          </div>
        </div>

        <br>
        <form materialize>
          
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input placeholder="Gebruiksnam" type="text">
          </div>

          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input placeholder="Wagtwoord" type="password">
          </div>

          <div class="center-align">

            <a class="btn waves-effect waves-light" onclick="login()">
              inlogguh
              <i class="material-icons left">arrow_forward</i>
            </a>

            <br><br>
            <a class="btn waves-effect btn-flat" onclick="showRegister()">
              registreren
              <i class="material-icons left">edit</i>
            </a>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>