<div class="center" *ngIf="auth.session">

    <div class="banner" [style.backgroundColor]="auth.session.user.rgbString"
        [style.backgroundImage]="auth.session.user.header == null ? 'none' 
            : 'url(' + auth.session.user.headerUrl('small') + ')'">
    </div>

    <app-profile-pic [user]="auth.session.user" playSoundFragOnHover="true"
        dim="med" size="160px" borderWidth="4px" cursor="pointer"
        (onProfilePicClick)="goToProfile()"></app-profile-pic>

    <div class="info">
        <a (click)="goToProfile()">
            <app-username [user]="auth.session.user" fontSize="20px"></app-username>
        </a>

        <span class="pre-wrap">{{auth.session.user.bio}}</span>

        <div class="row stats bw-on-bw10">
            <a class="col s4">
                <i class="material-icons" [style.color]="auth.session.user.rgbString">chat_bubble</i>
                <b [style.color]="auth.session.user.rgbString">
                    {{auth.session.user.messages}}
                </b>
                <div class="bw-on-bw-text">tjetberigten</div>
            </a>
            <a class="col s4" (click)="goToProfile()">
                <i class="material-icons" [style.color]="auth.session.user.rgbString">thumbs_up_down</i>
                <b [style.color]="auth.session.user.rgbString">
                    {{auth.session.user.rep}}
                </b>
                <div class="bw-on-bw-text">reputatie</div>
            </a>
            <a class="col s4" (click)="modal.navigate('/tjiller/' + auth.session.user.id + '/vriends')">
                <i class="material-icons" [style.color]="auth.session.user.rgbString">group</i>
                <b [style.color]="auth.session.user.rgbString">
                    {{auth.session.user.friends}}
                </b>
                <br>
                <div class="bw-on-bw-text">vriends</div>
            </a>
        </div>

        <ul>
            <li>
                <a class="waves-effect bw-on-bw-text hover-bg" (click)="modal.navigate('/tjiller/' + auth.session.user.id)">
                    <i class="material-icons bw-on-bw-text">person</i>
                    Myn profiel
                </a>
            </li>

            <li>
                <a class="waves-effect bw-on-bw-text hover-bg" (click)="modal.navigate('/tjiller/' + auth.session.user.id + '/uploods')">
                    <i class="material-icons bw-on-bw-text">subscriptions</i>
                    Mijn uploods
                </a>
            </li>

            <li>
                <a class="waves-effect bw-on-bw-text hover-bg" (click)="modals.showModal('editProfile')">
                    <i class="material-icons bw-on-bw-text">edit</i>
                    Profil wijsigen
                </a>
            </li>

            <li>
                <a class="waves-effect bw-on-bw-text hover-bg" (click)="modal.navigate('/instellingun')">
                    <i class="material-icons bw-on-bw-text">settings</i>
                    Instellingun
                </a>
            </li>

            <li>
                <a class="bw-on-bw-text hover-bg" (click)="darkTheme = !darkTheme">
                    <i class="material-icons bw-on-bw-text">brightness_4</i>
                    Duistere modus

                    <div class="switch">
                        <label>
                            <input type="checkbox" [checked]="darkTheme">
                            <span class="lever"></span>
                        </label>
                    </div>
                </a>
            </li>

            <li class="divider bw-on-bw30"></li>

            <li>
                <a class="waves-effect bw-on-bw-text hover-bg" href="resente-accounts">
                    <i class="material-icons bw-on-bw-text">swap_horiz</i>
                    Ander account
                </a>
            </li>
        </ul>

    </div>

</div>