<div class="center" *ngIf="auth.session">

    <div class="banner" [style.backgroundColor]="auth.session.user.rgbString"
        [style.backgroundImage]="auth.session.user.header == null ? 'none' 
            : 'url(' + auth.session.user.headerUrl('small') + ')'">
    </div>

    <a (click)="modal.navigate('/tjiller/' + auth.session.user.id)">
        <app-profile-pic [user]="auth.session.user" dim="med" size="160px"
            borderWidth="4px"></app-profile-pic>

        <app-username [user]="auth.session.user" fontSize="20px"></app-username>
    </a>
</div>