body {
    width: 100vw;
}

.btn {
    background-color: ?rgb? !important;
}

.btn-flat {
    background-color: transparent !important;
    color: ?rgb? !important;
}

.btn-flat:hover {
    background-color: rgba(?r?, ?g?, ?b?, .2) !important;
}

.input-field .prefix.active {
    color: ?rgb? !important;
}

input:focus {
    border-bottom: 1px solid ?rgb? !important;
    box-shadow: 0 1px 0 0 ?rgb? !important;
}

.input-field label.active {
    color: ?rgb? !important;
}

/* BACKGROUND */

.masterpiece-left {
    position: fixed;
    z-index: -999;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    background: url(/static_content/img/masterpiece_left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    background: ?rgb?;
    transition: background ease-in-out .15s;
    overflow-x: hidden !important;
}

.animatedGradient{
    position: relative;
}
  
.animatedGradient:after, .animatedGradient:before{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: -1;
}
  
.animatedGradient:after{
    background: radial-gradient(circle, ?rgbSec?, transparent);
    background-size: 400%;
    animation: colorSpin 30s ease-in-out infinite;
}
  
.animatedGradient:before{
    background-color: ?rgb?;
}
  
@keyframes colorSpin{
    25%{background-position: 10% 30%}
    75%{background-position: -50% 110%}
}
/* END BACKGROUND */

/* NAVBAR */
.navbar-fixed {
    margin-bottom: 64px;
}

nav.hidden {
    transform: translateY(-64px);
}

nav {
    background: ?rgb? !important;
    transition: background ease-in-out .15s, transform ease-in-out .5s;
    will-change: transform, opacity;
    backface-visibility: hidden;
    perspective: 1000;
    width: 100vw;
}

nav.hide-indicator .indicator {
    opacity: 0;
}

nav.hide-indicator .tab a {
    color: rgba(255,255,255,0.7) !important;
}

nav.hide-indicator .tab a:hover {
    color: white !important;
}

nav .indicator {
    transition: opacity 200ms;
}

nav .brand-logo img {
    height: 40px;
    vertical-align: middle;
}

nav .tabs {
    text-align: center;
    overflow-x: hidden;
}

nav .tabs li {
    float: none;
}

nav .tabs li i {
    display: inline;
    vertical-align: middle;
}

.navbar-profile-pic {
    display: inline;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    background-color: white;
    vertical-align: middle;
    border-radius: 100px;
}

nav a.sidenav-trigger {
    display: block !important;
    padding: 0 10px;
    margin: 0;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent !important;
}
/* END NAVBAR */

.logo-shadow {
    height: 60px;
    margin: 30px;
    -webkit-filter: drop-shadow( 1px 2px 0px #00000057 );
    filter: drop-shadow( 1px 2px 0px #00000057 );
}

a {
    cursor: pointer;
}

.collection a.collection-item {
    color: ?rgb? !important;
}

.collection a.collection-item.active {
    color: white !important;
    background-color: ?rgb? !important;
}

.collection a.collection-item i {
    vertical-align: bottom;
}

.collection .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -10px;
    transition: transform .2s ease-in-out;
    transform: rotate(0deg);
}

.collection a:hover .profile-pic {
    transform: rotate(-10deg);
}

/* ACTIVITY-ANIMATION */
body.switching-activity {
    overflow: hidden;
}

#activity {
    will-change: transform, opacity;
    transform-origin: 50% 50px;
}

#activity.in {
    transition: ease-out .15s;
    transform: scale(1);
    opacity: 1;
}

#activity.mid {
    transition: 0s !important;
    opacity: 0;
    transform: scale(1.1);
}

#activity.out {
    transition: ease-in .15s;
    transform: scale(.95);
    opacity: 0;
}
/* END ACTIVITY-ANIMATION */

/* SIDENAV */

.sidenav-background {
    background-size: cover;
    height: 120px;
}

.sidenav-profile-pic {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    border: solid 4px white;
    background: white;
}

.sidenav-username {
    margin-top: -10px;
}

.sidenav-stats i {
    vertical-align: middle;
}

.sidenav-stats {
    line-height: 20px;
}

.sidenav-stats span {
    color: rgb(88, 88, 88) !important;
}

/* END SIDENAV */

/* PROFILE-PAGE */
.header-img {
    width: 100%;
    padding-top: 20%;
    background: linear-gradient(transparent, transparent, transparent, rgba(0, 0, 0, .4)), ?rgb?;
    background-size: cover !important;
}

.profile-header {
    padding: 0 !important;
    margin-top: -10px !important;
}

.header-info {
    width: 100%;
}

.header-profile-pic {
    border: solid 4px white;
    height: 180px;
    width: 180px;
    margin: 12px;
    margin-top: -65px;
    background: ?rgb?;
    float: left;
}

center .header-profile-pic {
    float: none;
    height: 140px;
    width: 140px;
    margin: 0px;
    margin-top: -70px;
}

.header-username {
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.43);
    margin-top: -34px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.profile-header .btn {
    margin: 10px 0;
}

.profile-col {
    padding: 0 !important;
}
.profile-col .card {
    padding: .1rem .75rem;
}
@media only screen and (max-width: 992px) {
    .profile-col .card {
        border-radius: 0;
    }
}

@media only screen and (min-width: 992px) {
    .profile-col-left {
        padding-right: 10px !important;
    }
}

.profile-page {
    display: none;
}
.profile-page.show {
    display: block;
}

.profile-stats i, .profile-stats b {
    vertical-align: middle;
    color: ?rgb?;
}
/* END PROFILE-PAGE */

/* TABS  */
.tabs.fav .tab a {
    color: rgba(?r?, ?g?, ?b?, 0.7) !important;
}
.tabs.fav .tab a:hover, .tabs.fav .tab a.active {
    color: ?rgb? !important;
}
.tabs.fav .indicator {
    background-color: ?rgb? !important;
    height: 4px;
}
.tabs.fav a i {
    vertical-align: middle;
    margin: 0 4px;
}

#profile-tabs {
    height: 50px;
}
#profile-tabs a {
    line-height: 20px;
}
.tab-number {
    font-weight: bold;
    font-size: 20px;
}
/* END TABS */

/* PROFILE-CARD */

.profile-card-header {
    padding-top: 20%;
    background-size: cover !important;
    background-position: center !important;
}

.profile-card-profile-pic {
    height: 100px;
    width: 100px;
    margin: -50px 10px 0px;
    border: 4px solid white;
}

.profile-card-info {
    padding: 0 10px 1px;
    overflow: hidden;
    height: 82px;
}

.profile-card-status {
    color: slategrey;
}

.profile-card h6 {
    margin: 0 !important;
}

.profile-card btn {
    margin: 10px;
}
/* END PROFILE-CARD */