.btn {
    background-color: ?rgb? !important;
}

.btn-flat {
    background-color: transparent !important;
    color: ?rgb? !important;
}

.btn-flat:hover {
    background-color: rgba(?r?, ?g?, ?b?, .2) !important;
}

.input-field .prefix.active {
    color: ?rgb? !important;
}

input:focus {
    border-bottom: 1px solid ?rgb? !important;
    box-shadow: 0 1px 0 0 ?rgb? !important;
}

.input-field label.active {
    color: ?rgb? !important;
}

/* BACKGROUND */
body {
    background: ?rgb?;
    transition: ease-in-out .3s;
}

.animatedGradient{
    position:relative;
}
  
.animatedGradient:after, .animatedGradient:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: -1;
}
  
.animatedGradient:after{
    background: radial-gradient(circle, ?rgbSec?, transparent);
    background-size: 400%;
    animation: colorSpin 30s ease-in-out infinite;
}
  
.animatedGradient:before{
    background-color: ?rgb?;
}
  
@keyframes colorSpin{
    25%{background-position: 10% 30%}
    75%{background-position: -50% 110%}
}
/* END BACKGROUND */

/* NAVBAR */
.navbar-fixed {
    margin-bottom: 64px;
}

nav.hidden {
    transform: translateY(-64px);
}

nav {
    background: ?rgb? !important;
    transition: ease-in-out .5s;
    will-change: transform, opacity;
    backface-visibility: hidden;
    perspective: 1000;
}

nav .brand-logo img {
    height: 40px;
    vertical-align: middle;
}

nav .tabs {
    text-align: center;
    overflow-x: hidden;
}

nav .tabs li {
    float: none;
}

nav .tabs li i {
    display: inline;
    vertical-align: middle;
}

.navbar-profile-pic {
    display: inline;
    margin-left: -10px;
    border: solid 4px ?rgb?;
    width: 44px;
    height: 44px;
    background-color: white;
    vertical-align: middle;
    border-radius: 100px;
}
/* END NAVBAR */

.logo-shadow {
    width: 160px;
    margin: 30px;
    -webkit-filter: drop-shadow( 1px 2px 0px #00000057 );
    filter: drop-shadow( 1px 2px 0px #00000057 );
}