<span class="container" [ngClass]="extended ? 'extended' : ''">

    <span *ngIf="extended" class="your-vote-label">
        UW WAARDERING:
    </span>

    <button class="btn btn-flat btn-floating waves-effect" [ngClass]="votes?.myVote == 1 ? 'fav-bg not-default' : ''"
        title="Dit waardeer ik" (click)="vote(votes?.myVote == 1 ? 0 : 1)">

        <i class="material-icons" [ngClass]="votes?.myVote == 1 ? 'bw-text' : 'fav-text'">
            exposure_plus_1
        </i>

    </button>

    <button class="btn btn-flat btn-floating waves-effect" [ngClass]="votes?.myVote == -1 ? 'red not-default not-fav-bg' : ''"
        title="Dit is pretbedervend" (click)="vote(votes?.myVote == -1 ? 0 : -1)">
        <i class="material-icons" [ngClass]="votes?.myVote == -1 ? 'bw-text' : 'red-text'">
            exposure_neg_1
        </i>
    </button>

    <span class="counter" *ngIf="!extended">
        {{ score }}
    </span>

    <div class="sentiment" *ngIf="extended">
        <div class="up" [style.width]="!votes ? '50%' : percentage(votes.upVotes) + '%'">
            <span class="number" *ngIf="votes">
                +{{votes.upVotes}}
            </span>
            <div class="bar" [ngClass]="votes && votes.upVotes > 0 ? 'green' : ''"></div>

            <span *ngIf="upVoters && upVoters.length > 0">
                <ng-container *ngTemplateOutlet="voters; context: {voters: upVoters, percentage: percentage(votes.upVotes), up: true}">
                </ng-container>
            </span>
        </div>

        <div class="down" [style.width]="!votes ? '50%' : percentage(votes.downVotes) + '%'">
            <span class="number" *ngIf="votes">
                -{{votes.downVotes}}
            </span>
            <div class="bar" [ngClass]="votes && votes.downVotes > 0 ? 'red' : ''"></div>

            <span *ngIf="downVoters && downVoters.length > 0">
                <ng-container *ngTemplateOutlet="voters; context: {voters: downVoters, percentage: percentage(votes.downVotes), up: false}">
                </ng-container>
            </span>
        </div>

        <ng-template #voters let-voters="voters" let-percentage="percentage"
            let-up="up">
            <div class="voters" [ngClass]="percentage > 20 ? 'profile-pics' : 'no-profile-pics'">

                <span *ngIf="percentage > 20">
                    <a [profileLink]="voter.user" class="voter" *ngFor="let voter of voters"
                        [title]="voter.user.username">
                        <app-profile-pic [user]="voter.user" dim="small" size="20px"
                            cursor="pointer"></app-profile-pic>
                    </a>
                </span>

                <i class="more-btn material-icons fav-text waves-effect" (click)="showVotersModal(up)">more_horiz</i>

            </div>
        </ng-template>
    </div>

</span>

<app-modal [hash]="modalHash" [name]="modalHash" *ngIf="extended && votes">

    <app-toolbar [titleText]="modalTitle"></app-toolbar>

    <div class="voters-modal-scroll">
        <app-user-list [users]="modalVoters" (loadMoreUsers)="loadMoreVoters()"
            [canLoadMoreUsers]="canLoadMoreVoters">
        </app-user-list>
    </div>

</app-modal>