
.container {
    
    &.extended {
        margin: .75rem 0 0 0;
        display: inline-block;
        user-select: none;

        .your-vote-label {
            vertical-align: middle;
            margin-right: 12px;
            opacity: 0.6;
        }

        .sentiment {

            @keyframes sentiment-fade-in {
                0%, 50% {
                    opacity: 0;
                }
                100% {
                }
            }

            margin-top: .75rem;
            width: 360px;
            max-width: 100%;

            .up, .down {
                max-width: 90%;
                min-width: 10%;
                position: relative;
                height: 58px;
                float: left;
                transition: .2s;
                text-align: center;

                .bar {
                    position: absolute;
                    height: 4px;
                    background: rgba(128, 128, 128, .4);
                    transition: .2s;
                    bottom: 30px;
                    left: 0;
                    right: 0;
                }

                .number {
                    opacity: .6;
                    animation: sentiment-fade-in .4s;
                }

                .voters {

                    height: 24px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    animation: sentiment-fade-in .4s;
                    
                    &.profile-pics {

                        max-width: 90%;
                        text-align: left;
                        overflow: hidden;
                        white-space: pre-line;
                        text-overflow: clip;
                        padding-left: 8px;
                        padding-right: 40px;
                        
                        .voter {
                            display: inline-block;
                            margin: 0 4px 10px 0;
                        }
                        
                        .more-btn {
                            position: absolute;
                            right: 16px;
                            top: 0;
                        }
                    }

                    &.no-profile-pics {
                        width: 100%;
                    }

                    .more-btn {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                    }

                }
            }

            .up .bar {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            .down .bar {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
        }
    }

    button {

        $size: 34px;

        width: $size;
        height: $size;
        margin-right: 12px;

        i {
            line-height: $size;
            vertical-align: text-bottom;
            font-size: 20px;
        }
    }

    .counter {
        opacity: .6;
        vertical-align: middle;
    }

}