<app-toolbar class="hide-on-med-and-up" titleText="Niwe plaatje"
    width="100vw" [bw]="true">
</app-toolbar>


<div class="row" *ngIf="file">
    <div class="col s12 m10 l6 offset-m1 offset-l3">
        <div class="card bw bw-on-bw-text">

            <div class="col s12 l10 offset-l1">


                <h5 class="hide-on-small-only">
                    Nieuwe plaatjen uploaden
                </h5>

                Voorbeeld:
                <div class="preview valign-wrapper">
                    <img *ngIf="previewSrc" [src]="previewSrc" [style.transform]="'rotate(' + rotate * 90 + 'deg)'">
                </div>

                <div *ngIf="file.type != 'image/gif'">
                    Draaien:
                    <button class="btn btn-flat waves-effect btn-floating" (click)="rotateImg(-1)">
                        <i class="material-icons fav-text">rotate_left</i>
                    </button>
                    <button class="btn btn-flat waves-effect btn-floating" (click)="rotateImg(1)">
                        <i class="material-icons fav-text">rotate_right</i>
                    </button>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">title</i>
                    <input id="img-title" type="text" [(ngModel)]="title" maxlength="100">
                    <label for="img-title" class="">Titel</label>
                </div>

                <div class="input-field">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea #descriptionInput id="img-description" [(ngModel)]="description"
                        class="materialize-textarea" maxlength="2048"></textarea>
                    <label for="img-desctiption" class="">Descriptie</label>

                    <div class="char-counter">{{description.length}}/2048</div>
                </div>
                <app-emoticon-picker [input]="descriptionInput"></app-emoticon-picker>

                <br>
                <br> Categorie:
                <br>
                <select class="browser-default black-text" materialize="material_select" [(ngModel)]="categoryId">
                    <option disabled [value]="-1">Kies een categorie</option>

                    <option *ngFor="let c of categories" [value]="c.id">{{c.title}}</option>
                </select>

                <br><br>

                <button class="btn waves-effect" [ngClass]="{'disabled': categoryId == -1}" (click)="upload()">
                    <i class="material-icons left">done</i>
                    uplooden
                </button>

                <button class="btn waves-effect btn-flat" onclick="confirm('uploden annuleren?!?!') && history.back()">
                    <i class="material-icons left">close</i>
                    annuleren
                </button>

            </div>
        </div>
    </div>
</div>