<header>
    <app-navbar></app-navbar>
</header>

<main>
    <div class="router-outlet-wrapper" *ngIf="!utils.mobile" [@routerAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet" (activate)="onActivate()"></router-outlet>
    </div>
    <router-outlet *ngIf="utils.mobile" (activate)="onActivate()"></router-outlet>

    <app-modal name="sideNav" type="right" hash="menuu" width="350px">
        <app-side-nav></app-side-nav>
    </app-modal>

    <app-modal name="search" hash="zoekee-naar-dingen">
        zoeken?
    </app-modal>

    <app-modal name="notifications" hash="meldingun">
        <app-notifications></app-notifications>
    </app-modal>

    <app-modal name="editProfile" type="bottom" hash="profil-wijsigen">
        <app-edit-profile-modal></app-edit-profile-modal>
    </app-modal>

    <app-modal name="editBio" hash="status">
        <app-edit-bio-modal></app-edit-bio-modal>
    </app-modal>

    <app-modal name="editFavColor" hash="lieflingsklur">
        <app-edit-fav-color-modal></app-edit-fav-color-modal>
    </app-modal>

    <app-modal name="imageCropper" hash="platje-bijsnije">
        <app-image-cropper-modal></app-image-cropper-modal>
    </app-modal>

    <app-modal name="giphySearch" hash="gif-categoriejen">
        <app-giphy-search></app-giphy-search>
    </app-modal>

    <app-emoticon-upload></app-emoticon-upload>

    <div class="masterpiece-left"></div>

</main>