<header>
    <app-navbar></app-navbar>
</header>

<main>
    <div [@routerAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
    </div>

    <app-modal name="sideNav" type="right" hash="menuu" width="350px">
        <app-side-nav></app-side-nav>
    </app-modal>

    <app-modal name="search" hash="zoekee-naar-dingen">
        zoeken?
    </app-modal>

    <app-modal name="notifications" type="bottom" hash="meldingun">
        notificaties???
    </app-modal>

    <app-modal name="editProfile" type="bottom" hash="profil-wijsigen">
        <app-edit-profile-modal></app-edit-profile-modal>
    </app-modal>

    <app-modal name="editBio" hash="status">
        <app-edit-bio-modal></app-edit-bio-modal>
    </app-modal>

    <app-modal name="editFavColor" hash="lieflingsklur">
        <app-edit-fav-color-modal></app-edit-fav-color-modal>
    </app-modal>

    <app-modal name="imageCropper" hash="platje-bijsnije">
        <app-image-cropper-modal></app-image-cropper-modal>
    </app-modal>


    <div class="masterpiece-left"></div>

</main>