<div class="row">

    <div class="col s12 m10 l3 offset-m1 offset-l2 no-padding bw-on-bw-text">

        <div *ngIf="profile.user.soundFragment" class="card bw no-border-radius-on-small no-margin-top">
            <span class="fav-text title">Geluidje</span>

            Autoplay:
            <div class="switch audio-auto-play-switch">
                <label>
                    Uit
                    <input type="checkbox" [(ngModel)]="service.autoPlaySoundFragment"
                        (change)="profile.autoPlayChanged()">
                    <span class="lever"></span>
                    Aan
                </label>
            </div>

            <audio controls *ngIf="!service.autoPlaySoundFragment">
                <source [src]="profile.user.soundFragmentUrl">
            </audio>
        </div>

        <div class="card bw no-border-radius-on-small no-margin-top">
            <span class="fav-text title">Status</span>

            <span class="pre-wrap" [innerHTML]="profile.user.bio | emoticons | links"></span>
            
            <div class="divider bw-on-bw10"></div>

            <button class="btn btn-flat waves-effect" (click)="speech.speak(profile.user.bio)">
                <i class="material-icons left">volume_up</i>
                
                Voorlezen ⠧⠕⠕⠗⠇⠑⠵⠑⠝
            </button>
        </div>

        <div class="card bw no-border-radius-on-small">
            <span class="fav-text title">Lieflingsklur:
                <b>{{colorClass.name}}</b>
            </span>

            <span class="pre-wrap">{{colorClass.description}}</span>

            <br>
            <br>
            <a class="fav-text">
                <i class="material-icons icon-left">group</i>
                {{colorClass.people - 1}} andere tjillers hebben dezen lieflingsklur
            </a>
        </div>

        <div class="card bw no-border-radius-on-small">
            <span class="fav-text title">Statistieken</span>

            <div class="row stats">
                <div *ngFor="let stat of stats" class="col s4 center">
                    <i class="material-icons circle white-text z-depth-1" [ngClass]="stat.color">{{stat.icon}}</i>
                    <br>
                    <b [ngClass]="stat.number < 0 ? 'red-text' : ''">{{stat.number ? stat.number : 0}}</b>
                    <br>{{statTitle(stat)}}
                </div>
            </div>
        </div>

    </div>


    <div class="col right-col s12 m10 l5 offset-m1 no-padding bw-on-bw-text">

        <div class="card bw no-border-radius-on-small no-margin-top">
            <span class="fav-text title">Reacties</span>

            <app-comments [entityId]="profile.user.id" [canDelete]="profile.auth.session.user.id == profile.user.id">
            </app-comments>
        </div>

    </div>

</div>