<div class="flex" [ngClass]="currentConv ? '' : 'only-conversations'"
    *ngIf="show">

    <div class="conversations bw bw-on-bw-text">

        <div #searchBar class="search-bar bw-on-bw10"
            (click)="searchBar == $event.target && convSearchQuery = ''">

            <div class="field z-depth-1 bw" (click)="convSearchInput.focus()">
                <i class="material-icons bw-on-bw-text search">search</i>
                <i class="material-icons fav-text back">arrow_back</i>
                <input #convSearchInput [(ngModel)]="convSearchQuery"
                    class="browser-default" type="text"
                    placeholder="Zoek naar tjets/mensen">
            </div>

        </div>

        <ul class="bw-on-bw10">


            <li class="green accent-2 black-text" *ngIf="serviceWorker.notDenied && !serviceWorker.saved && serviceWorker.triedToSubscribe">
                <div class="avatar">
                    <i class="material-icons white green-text text-accent-2 circle">
                        notifications_off
                    </i>
                </div>
                <div class="info">
                    <div class="title">Tjet meldingun</div>
                    <div class="message">
                        Ontvang meldingen
                        bij niwe berichten.
                        <br>
                        (Meldingen per tjet uitschakelbaar)
                    </div>

                    <a class="teal-text text-accent-4"
                        (click)="serviceWorker.subscribeToPush(true)">INSCHAKELEN</a>

                </div>
            </li>

            <li style="margin-top: 0; margin-bottom: -.25rem">
                <div class="avatar">
                    <div class="new-btn z-depth-1 circle bw waves-effect">
                        <i class="material-icons fav-text">add</i>
                    </div>
                </div>
                <div class="info valign-wrapper">
                    <span class="title fav-text">
                        Niwe groep creëren
                    </span>
                </div>
            </li>

            <li *ngFor="let conv of service.conversations"
                [routerLink]="'../' + conv.chatId"
                [replaceUrl]="currentConv" class="waves-effect bw"
                [style.display]="convTitle(conv).toLowerCase().indexOf(convSearchQuery.toLowerCase()) == -1 ? 'none' : ''"
                [ngClass]="currentConv == conv ? 'active fav-bg white-text' : ''"
                [style.boxShadow]="boxShadow(conv)">



                <div class="avatar">

                    <app-profile-pic *ngIf="!conv.isGroup"
                        [user]="conv.otherUser" size="48px"
                        dim="small" cursor="pointer"></app-profile-pic>

                    <app-group-pic *ngIf="conv.isGroup" dim="small"
                        [conv]="conv" size="48px"></app-group-pic>

                    <div class="online-dot bw-border green accent-3"
                        *ngIf="conv.otherUser?.online"
                        [ngClass]="currentConv == conv ? 'fav-border' : ''"></div>

                </div>
                <div class="info no-wrap" [ngClass]="conv.latestMessage ? '' : 'valign-wrapper'">

                    <!-- group title with emoticons -->
                    <div class="title" *ngIf="conv.isGroup"
                        [innerHTML]="conv.groupTitle | escape | emoticons"></div>

                    <!-- username without emoticons -->
                    <div class="title" *ngIf="!conv.isGroup">
                        {{conv.otherUser.username}}
                    </div>
                    <span class="message">
                        <i class="material-icons" *ngIf="conv.latestMessage?.attachment">
                            {{service.attachmentIcon(conv.latestMessage.attachment)}}
                        </i>
                        <span *ngIf="conv.latestMessage">
                            {{conv.latestMessage?.sentBy ==
                            auth.session.user.id ? "Jij: "
                            : (conv.isGroup ?
                            conv.latestMessage.senderUsername
                            + ":"
                            : "")}}
                        </span>
                        <span [innerHTML]="conv.latestMessage?.text | escape | emoticons"></span>
                    </span>

                </div>

                <div class="time-and-more">
                    <div class="time" *ngIf="conv.latestMessage">
                        {{conv.latestMessage.sentTimestamp
                        ?
                        (conv.latestMessage.sentTimestamp |
                        timestamp:"short") : "Vroeger"}}
                    </div>
                    <div class="unread" [style.background]="conv.otherUser ? conv.otherUser.rgbString : auth.session.user.rgbString"
                        *ngIf="conv.unread && conv != currentConv">
                        {{conv.unread}}
                    </div>
                    <i class="material-icons muted" *ngIf="conv.muted"
                        title="Geen meldingen">
                        notifications_off
                    </i>
                </div>
            </li>

            <li class="hide-on-large-only">

                <div class="avatar"></div>
                <div class="info valign-wrapper">
                    <a class="fav-text" [routerLink]="'/tjillers'">Vriends
                        zoeken</a>
                </div>

            </li>

        </ul>

    </div>

    <div class="chat bw">

        <app-conversation *ngIf="currentConv" [conv]="currentConv"></app-conversation>

        <div *ngIf="!currentConv" class="welcome bw-on-bw10 valign-wrapper bw-on-bw-text">

            <div class="wrapper">

                <div class="cat-anim">
                    <div class="cat" [inlineSVG]="'/assets/img/very_chill_chat_cat.svg'"
                        title="Tjille kaasflip kat"></div>
                    <h4>Jo {{auth.session.user.username}}</h4>
                    Dit is dé plek om te tjillen en
                    tjetten.
                    <br>

                    <br>
                    <a class="fav-text" [routerLink]="'/tjillers'">Vriends
                        zoeken</a>
                </div>

            </div>

        </div>

    </div>

    <div class="chat-info bw">

        <app-chat-info *ngIf="currentConv" [conv]="currentConv"></app-chat-info>

    </div>

</div>

<app-modal hash="tjet-info" name="chatInfo" *ngIf="currentConv">

    <div class="members-modal">

        <app-toolbar [titleText]="currentConv.isGroup ? 'Groep info' : 'Tjet info'"></app-toolbar>
        
        <app-chat-info [conv]="currentConv"></app-chat-info>

    </div>

</app-modal>