@import "../../../styles.scss";

app-toolbar {
    input {
        width: calc(100% - 100px);
    }

    button {
        margin: 0 8px;
    }
}

.scroll {

    overflow-x: auto;
    height: 60vh;

    @media only screen and (max-width: $break-small) {

        height: calc(100% - 56px);
    }

    app-circular-preloader {
        margin: 1.5rem;
    }

    .giphy-icon-and-count {
        img {
            height: 24px;
            width: 24px;
            vertical-align: bottom;
            margin-right: 4px;
        }
        user-select: none;
    }

    .masonry {
        padding: 0 .75rem;
        column-count: 3;
        column-gap: 5px;

        @media only screen and (max-width: $break-small) {
            column-count: 2;
        }

        .player-container {
            display: inline-block;
            width: 100%;
        }
    }

    .categories {
        padding: .2rem;
    }

    .category {

        padding: .2rem;

        .category-gif {
            padding-top: 40%;
            position: relative;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            border-radius: 3px;
            overflow: hidden;

            @media only screen and (max-width: $break-small) {
                padding-top: 80%;
            }
    
            p {
                position: absolute;
                bottom: -3px;
                left: 0;
                right: 0;
                background: linear-gradient(transparent, rgba(0, 0, 0, .4));
                text-align: center;
                color: white;
                height: 60px;
                padding: 10px;
                margin: 0;
                transition: .2s ease-out;
                font-size: 18px;
            }

            &:hover {
                p {
                    height: 80px;
                }
            }
        }
    }
    

}

