$break-small: 600px;
$break-med: 992px;

router-outlet ~ * {
    position: absolute;
    width: 100vw;
    transform-origin: 50% 50px;
}

@media (pointer: fine) {
    // custom scrollbar only on desktops
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .4);
    }
}

body.modal-open {
    overflow: hidden;
}

::ng-deep {
    .card {
        border-radius: 8px;
    }
}