$break-small: 600px;
$break-med: 992px;

@media (pointer: fine) {
    // custom scrollbar only on desktops
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .4);
        border-radius: 100px;
    }
}

body.modal-open {
    overflow: hidden;
}

router-outlet ~ * {
    position: absolute;
    width: 100vw;
    transform-origin: 50% 50px;
}

::ng-deep {

    $border-radius: 8px;

    .inline-emoticon {
        height: 1.6em;
        margin: -1em .1em;
        vertical-align: middle;
    }

    .card {
        border-radius: $border-radius;
    }

    .collapsible {
        border-radius: $border-radius;
        border: none;

        $border-color: rgba(128, 128, 128, 0.4);

        .collapsible-header {
            background: none;
            border-color: $border-color;
        }

        .collapsible-body {
            border-color: $border-color;
        }

        .first {
            .collapsible-header {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
        }

        .last {
            .collapsible-header {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;

                border-color: transparent;

                &.active {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    border-color: $border-color;
                }
            }

            .collapsible-body {
                border: none;
            }
        }
        
    }

    .collection {
    
        border-color: #0000001a !important;
    
        li {
            width: 100%;
            border-color: #0000001a !important;
        }
        
    }

    @media only screen and (max-width: $break-small) {

        .no-border-radius-on-small {
            border-radius: 0
        }

    }

    .no-margin-top {
        margin-top: 0;
    }

    .pre-wrap {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .icon-left {
        vertical-align: bottom;
        margin-right: 10px;
        opacity: .8;
    }

    .no-margin {
        margin: 0 !important;
    }

    input.white-input:not([readonly]), 
    textarea.white-input.materialize-textarea:not([readonly]) {
        border-bottom: 1px solid white !important;
        
        &::placeholder {
            color: white;
        }

        &:focus {
            box-shadow: 0 1px 0 0 white !important;
        }
    }

    @keyframes circular-reveal-top-left {
        0% {
            clip-path: inset(0% 100% 100% 0% round 0 0 100% 0);
        }
        100% {
            clip-path: inset(0% 0% 0% 0% round 0 0 0% 0);
        }
    }

    @keyframes circular-reveal-top-right {
        0% {
            clip-path: inset(0% 0% 100% 100% round 0 0 0 100%);
        }
        100% {
            clip-path: inset(0% 0% 0% 0% round 0 0 0 0%);
        }
    }

    @keyframes circular-reveal-bottom-right {
        0% {
            clip-path: inset(100% 0% 0% 100% round 100% 0 0 0);
        }
        100% {
            clip-path: inset(0% 0% 0% 0% round 0% 0 0 0);
        }
    }

    @keyframes circular-reveal-bottom-left {
        0% {
            clip-path: inset(100% 100% 0% 0% round 0 100% 0 0);
        }
        100% {
            clip-path: inset(0% 0% 0% 0% round 0 0% 0 0);
        }
    }

}

html, body {
    height: 100%;
}

body {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100vw;
    opacity: 1 !important;
    transition: opacity 3s 1s;
}

.masterpiece-left {
    position: fixed;
    z-index: -999;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    background: url(/assets/img/masterpiece_left.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media only screen and (max-width: $break-small) {
        display: none;
    }
}